.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #f7f9fc;
}

.mainWrapper {
  align-items: center;
  align-self: stretch;
  background-color: #f7f9fc;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  min-height: 800px;
  position: relative;
  width: 100%;
  max-width: 960px;
}

.contentArea {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.headerWrapper {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e5e8ea;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 12px 40px;
  position: relative;
  width: 100%;
}
.logoContainer {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-around;
  position: relative;
  width: 156px;
}
.logoTextWrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
.logoText {
  color: #111416;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.heroSection {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  padding: 20px 160px;
  position: relative;
  width: 100%;
}
.heroContent {
  height: 713px;
  margin-bottom: -1px;
  max-width: 960px;
  position: relative;
  width: 718px;
}
.imageContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 718px;
}
.mainImage {
  height: 389px;
  object-fit: cover;
  position: relative;
  width: 718px;
}
.registerVehicleLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 72px;
  justify-content: center;
  left: 0;
  padding: 12px 16px;
  position: absolute;
  top: 479px;
  width: 718px;
}
.registerButton {
  align-items: center;
  background-color: #baf0de;
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 48px;
  justify-content: center;
  max-width: 480px;
  min-width: 84px;
  overflow: hidden;
  padding: 0px 20px;
  position: relative;
}
.buttonTextWrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
.buttonText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: #222222;
  display: -webkit-box;
  font-family: "Public Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}
